.create {
    padding: 1rem;
}

.title {
    padding: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.buttons {
    margin-top: 1rem;
}

.buttons button {
    margin-right: 1rem;
}