/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.v-middle {
    vertical-align: middle;
}

.blue-logo {
    color: rgb(0, 98, 152);
}

.red-logo {
    color: rgb(209, 65, 36);
}